<% if logged_in? %>
  <div class="row">
    <div class="col-md-4 col-md-push-4 col-md-offset-2">
      <%= render 'shared/drink_form' %>
    </div>
    
    <div class="col-md-4 col-md-pull-4">
      <% if @total %>
        <h1 class="text-center">Daily Total: <%= @total %> oz</h1>
      <% end %>
      
      <% if @daily_drinks.any? %>
        <ul class="list-group daily_drinks">
          <%= render partial: "drinks/daily_drink", collection: @daily_drinks %>
        </ul>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="text-center jumbotron">
    <h1>Drink more water, pee more.</h1>

    <p>
      It's simple science. If you drink more water, you will have to pee more
      and everyone loves a good peegasm.
    </p>

    <p><%= link_to "Sign up now!", new_user_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>
