<% if logged_in? %>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= render 'shared/drink_form' %>

      <h1 class="center">Daily Total: <%= @total %> oz</h1>
      
      <ul class="list-group daily_drinks">
        <%= render partial: "drinks/daily_drink", collection: @daily_drinks %>
      </ul>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Drink more water, pee more.</h1>

    <p>
      It's simple science. If you drink more water, you will have to pee more
      and everyone loves a good peegasm.
    </p>

    <p><%= link_to "Sign up now!", new_user_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>
