<li class="list-group-item clearfix">
  <h3 class="content"><%= drink.created_at.localtime.strftime("%a %b %d %l:%M %P") %> &harrw; <%= drink.volume %> oz</h3>
  <%= link_to 'delete', drink, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm pull-right" %>
</li>