@import "bootstrap-sprockets";
@import "bootstrap";
@import "rails_bootstrap_forms";

body { padding-top: 70px; }

.content { display: inline; }

p.new_user { padding-top: 10px; }

h1 { margin-bottom: 30px; }

.jumbotron h1 { margin-bottom: 10px; }

.pagination { margin-top: 10px; }

.add_drink_button { 
  margin-top: 14px; 
  padding: 30px 30px;
}

.drink_volume.radio_buttons {
  padding-left: 1px;
  margin-bottom: 0;
  span:first-of-type {
    margin-bottom: 11px;
  }
}

@media (min-width: $screen-md-min) {
  #new_drink {
    margin-top: 75px;
  }
}

// .radio-inline label {
//     vertical-align: middle
// }
// .radio-inline input[type=text] {
//     width: 200px;
//     display:inline-block;
// }

/* Sticky footer */

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.container .text-muted {
  margin: 20px 0;
  a {
    color: $gray-light;
  }
}
